<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>https://111.202.45.55:8443/wo1028.ipa</string>
						
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<false/>
						<key>url</key>
						<string>https://111.202.45.55:8443/img/cu.png</string>
						
					</dict>
				</array>
				<key>metadata</key>
				
				<dict>
				<key>CFBundleURLTypes</key>
					<array>
						<dict>
							<key>CFBundleURLName</key>
							<string>com.d-heaven.mkey3g</string>
							<key>CFBundleURLSchemes</key>
							<array>
								<string>dhmkey3g</string>
							</array>
						</dict>
						<dict>
							<key>CFBundleURLSchemes</key>
							<array>
								<string>CucsiPuYuanSuiWoxingr</string>
							</array>
						</dict>
					</array>
					
					<key>bundle-identifier</key>
					<string>com.zw.idep.iphonewobiz</string>
					
					<key>bundle-version</key>
					<string>1.9.3</string>
					<key>kind</key>
					<string>software</string>
					<key>subtitle</key>
					<string>wo</string>
					<key>title</key>
					<string>沃·商务</string>
					
				</dict>
			</dict>
		</array>
	</dict>
</plist>
